[submodule "glove"]
	path = glove
	url = https://github.com/gasparfm/glove
[submodule "silicon"]
	path = silicon
	url = https://github.com/gasparfm/silicon
[submodule "startbootstrap-landing-page"]
	path = startbootstrap-landing-page
	url = https://github.com/IronSummitMedia/startbootstrap-landing-page.git
