    <a  name="intro"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Your favourite language for creating web services</h2>
                    <p class="lead">This is just the beginning and it started as a way to understand how HTTP communication is made. And it could be useful to develop little web services as an alternative to use
		    a scripting language like Javascript or PHP. With this approach you can also integrate a tiny web server that works in parallel with a bigger program allowing us to control it remotelly (or locally)
		    via web interface.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/tablet.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Glove as connection manager</h2>
                    <p class="lead">This example is using Glove to accept connections (also HTTPs connections can be accepted). Each Virtualhost can have several routes configured and each route have a callback. This callback
			is used to generate a response. This response includes HTTP headers to send, and the HTML content (or image, or CSS).</p>
		    <p class="lead">With Glove, you can setup routes with keywords so all /docs/$document will end up in the same callback function, and this function
			will receive the value of $document to modify it's behaviour.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/socks.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Silicon con manage templates</h2>
                    <p class="lead">One of the worse tasks when coding web sites in C++ is compiling everytime you make a tiny change. You can avoid this 100% but using a template system may help a little bit.</p>
		    <p class="lead">Of course it adds a bit overhead, but worth it. The template system can use simple conditionals and loops (under development), functions and simple keywords.</p>
		    <p class="lead"><strong>Keywords</strong> are simple replacements in your document, <strong>functions</strong> may call C++ functions (configurable) to generate the response; <strong>conditions and loops</strong> may save
			you some time when generating complex responses</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/mobile.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Silicon and Glove:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="{{TwitterLink}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="{{GithubLink}}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="{{LinkedInLink}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
